.about_header{
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 191px;
}
.drop_bars{
    font-size: 30px;
    font-family: 700;
}