.comment_form_area{
    .comment_title{
        line-height: 1;
        font-size: 35px;
        margin-bottom: 30px;
    }
    .form_item{
        input,textarea{
            margin-bottom: 20px;
        }
    }
}
.content_wrap {
    max-width: 600px;
}