// default color
$white: #ffffff;
$black: #000000;
$default_black: #292929;
$default_color: #81c408;
$btn_bg_color: #7cc000;

// font family
$body_font: 'Roboto', sans-serif;
$heading_font: 'Roboto', sans-serif;

// default transition
$default_transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);