/* pagination - start */
.pagination_nav {
    margin-top: 25px;
    li {
        padding: 3px;
        border: 1px solid #deecf0;
        border-radius: 6px;
        &:not(:last-child){
            margin-right: 13px;
        }
    }
    a {
        height: 45px;
        min-width: 45px;
        font-size: 20px;
        font-weight: 500;
        color: #6c6c6c;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $default_transition;
    }
    li {
        &:hover,
        &.active {
            background-color: #7cc000;
            transition: $default_transition;
            a {
                color: $white;
            }
        }
    }
}
/* pagination - end */