/* section title - start */
.section_title {
    margin-bottom: 45px;
    .title_text {
        font-size: 55px;
        margin-bottom: 10px;
    }
    p {
        color: #c1c1c1;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
}
/* section title - end */